[project]
	description = ????APP
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/skawu (skawu)
[access "refs/for/refs/*"]
	read = group user/skawu (skawu)
	push = group user/skawu (skawu)
	label-Code-Review = -2..+2 group user/skawu (skawu)
	label-Verified = -1..+1 group user/skawu (skawu)
	rebase = group user/skawu (skawu)
	removeReviewer = group user/skawu (skawu)
	submit = group user/skawu (skawu)
[access "refs/heads/*"]
	read = group user/skawu (skawu)
	create = group user/skawu (skawu)
	push = +force group user/skawu (skawu)
	pushMerge = group user/skawu (skawu)
[access "refs/tags/*"]
	push = group user/skawu (skawu)
	push = +force group user/skawu (skawu)
